<div class="rich-text">
  {% if section.settings.section_heading != blank %}
    <div class="section-header section-header--small">
      <h2>{{ section.settings.section_heading | escape }}</h2>
    </div>
  {% endif %}
  <section class="testimonial-carousel">
    <ol class="testimonial-viewport">
      {% for block in section.blocks %}
		{% assign current = 'slide' | append: forloop.index %}
        {% unless forloop.first %}
          {% assign previousI = forloop.index0 %}
        {% else %}
          {% assign previousI = forloop.length %}
        {% endunless %}
        {% assign previous = '#slide' | append: previousI %}
        {% unless forloop.last %}
          {% assign nextI = forloop.index | plus: 1 %}
        {% else %}
          {% assign nextI = 1 %}
        {% endunless %}
        {% assign next = '#slide' | append: nextI %}
          <li class="testimonial-slide" id="{{ current }}">
            <a href="{{ previous }}" class="testimonial-left-link">
              <svg width="50" height="50" viewbox="0 0 50 50">
                  <line x1="5" x2="26" y1="24" y2="49"  stroke-width="5" />
                  <line x1="5" x2="25" y1="27" y2="1" stroke-width="5" />
              </svg>
            </a>
            <figure class="testimonial-text">
                <div class="pull-quote">
                  <strong>{{ block.settings.pull_quote }}</strong>
                </div>
                <div class="quote-name">
                  <figcaption><em>&mdash;{{ block.settings.name }}</em></figcaption>
                </div>
                <p class="full-quote">
                  <blockquote>{{ block.settings.full_quote }}</blockquote>
                </p>
            </figure>
            <a href="{{ next }}" class="testimonial-right-link">
              <svg width="50" height="50" viewbox="0 0 50 50">
                  <line x1="24" x2="45" y1="49" y2="23"  stroke-width="5" />
                  <line x1="45" x2="25" y1="26" y2="1" stroke-width="5" />
              </svg>                    
            </a>
          </li>
      {% endfor %}
    </ol>
  </section>
</div>


{% schema %}
  {
	"name": "Testimonial Carousel",
	"settings": [{
		"id": "section_heading",
		"type": "text",
		"label": "Heading",
		"default": "TESTIMONIALS"
	}],
	"blocks": [{
		"type": "quote",
		"name": "quote",
		"settings": [{
				"id": "pull_quote",
				"type": "text",
				"label": "Pull Quote",
				"default": "Best ever..."
			},
			{
				"id": "name",
				"type": "text",
				"label": "Name",
				"default": "Jane Doe"
			},
			{
				"id": "full_quote",
				"type": "textarea",
				"label": "Full Quote",
				"default": "Long text..."
			}
		]
	}]
  }
{% endschema %}

{% style %}

  .quote-name{
	font-size: small;
  }

  .full-quote{
    font-size:medium;
  }

  .testimonial-carousel {
    position: relative;
    max-width: auto;
	margin: 0;
  }

  .testimonial-viewport {
	width: auto;
	height: auto;
    display: flex;
	flex-direction: row;
    overflow-x: scroll;
	overflow-y: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }

  .testimonial-slide {
	position: relative;
	display: grid;
	grid-template-rows: 1;
	grid-template-columns: 5% 90% 5%;
    flex: 0 0 100%;
    width: 100%;
    margin: 0;
	max-height: 800px;
  }

  .testimonial-text {
	grid-row: 1;
	grid-column: 2;
    min-height: 100%;
  }

  li {
    text-decoration: none;
    list-style: none;
  }

  .testimonial-left-link {
    grid-column: 1;
  }
                                         
  .testimonial-right-link {
    grid-column: 3;                                       
  }
                                         
  .testimonial-left-link, .testimonial-right-link {
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  svg {
  	stroke: grey;
    margin: 0;
    width: 100%;
  }
                                         
  .testimonial-viewport {
    scrollbar-width: 0;
  }
                                         
  .testimonial-viewport::-webkit-scrollbar {
    width: 0;
  }

{% endstyle %}

{% javascript %}
{% endjavascript %}
